<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "管理ユーザー管理", admins_path %></li>
  <li class="breadcrumb-item active" aria-current="page">インポート</li>
</ol>

<%= render "shared/import", store_id: nil, path: admins_path %>
