<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "管理ユーザー管理", admins_path %></li>
  <li class="breadcrumb-item active" aria-current="page">新規追加</li>
</ol>

<%= render 'form', admin: @admin %>

