<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to "端末管理", devices_path(store_id: @store_id) %>
  </li>
  <li class="breadcrumb-item active" aria-current="page">編集</li>
</ol>

<%= render 'form', device: @device, store_id: @store.id %>
