<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "店舗データ管理", stores_path %></li>
  <li class="breadcrumb-item active" aria-current="page">インポート</li>
</ol>

<%= render "shared/import", store_id: nil, path: stores_path %>
