<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "在庫データ管理", stocks_path(store_id: @store.id) %></li>
  <li class="breadcrumb-item active" aria-current="page">編集</li>
</ol>

<%= render 'form', stock: @stock, store_id: @store.id %>

<%#= link_to '戻る', stocks_path %>
