<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "アプリユーザー管理", users_path %></li>
  <li class="breadcrumb-item active" aria-current="page">インポート</li>
</ol>

<%= render "shared/import", store_id: @store.id, path: users_path(store_id: @store.id) %>
