<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "検品データ管理", orders_path(store_id: @store.id) %></li>
  <li class="breadcrumb-item active" aria-current="page">インポート</li>
</ol>

<%= render "shared/import", store_id: @store.id, path: orders_path(store_id: @store.id) %>
