// Place all the styles related to the Admins controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#prefecture, #area {
  width: 120px;
}

#modalTable {
  width: 120%;
}

table td {
  text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

div.field_with_errors {
  display: contents;
}

.custom-file {
  position: relative;
  display: inline-block;
  width: 69% !important;
  height: calc(1.5em + 0.75rem + 2px);
  margin-bottom: 0;
}

.button-import {
  padding: 0.29rem 0.75rem !important;
  margin-top: 5px;
}
