<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "取引先データ管理", suppliers_path %></li>
  <li class="breadcrumb-item active" aria-current="page">編集</li>
</ol>

<%= render 'form', supplier: @supplier %>
