<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "取引先データ管理", suppliers_path %></li>
  <li class="breadcrumb-item active" aria-current="page">インポート</li>
</ol>

<%= render "shared/import", store_id: nil, path: suppliers_path %>
