<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "電話帳詳細分類", adrsbook_subcategories_path(store_id: @store.id) %></li>
  <li class="breadcrumb-item active" aria-current="page">編集</li>
</ol>

<%= render "form", adrsbook_subcategories: @adrsbook_subcategories, store_id: @store.id %>
