<!-- Flash message -->
<% if flash.any? %>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] && flash[:alert].try(:any?) %>
    <div class="alert alert-warning">
      <% flash[:alert].each do |msg| %>
        <%= msg %><br />
      <% end %>
    </div>
  <% end %>
<% end %>
